* {
   margin: 0;
   line-height: 1.6;
}

body {
   background-color: #F5F7F4;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
   height: 55px;
   width: 55px;
}

h1 {
   text-align: center;
   font-size: xx-large;
   height: 50px;
   width: 283px;
}

#nav1 {
   display: flex;
   justify-content: space-between;
   background-color: #7BAE7F;
   padding: 10px;
   align-items: center;
}

#a1 {
   display: flex;
   color: white;
   text-decoration: none;
}

#a1:hover {
   text-decoration: underline;
}

#ul1 {
   font-size: x-large;
   padding-left: 47%;
   list-style: none;
   display: flex;
   gap: 25px;
   align-self: center;
}

.other {
   background-color: #7BAE7F;
}

.contact {
   text-align: center;
}

.othertext {
   text-align: center;
}

/* page 1 home page */

.main {
   display: flex;
   align-items: center;
   gap: 40px;
   height: 580px;
   padding: 8px 4%;
}

.main-text h2 {
   font-size: 40px;
   color: #3E2723;
   margin-left: 70px;
   font-family: Arial, Helvetica, sans-serif;
}

.main-text p {
   margin-left: 90px;
   width: 450px;
   font-size: 27px;
   margin-bottom: 25px;
   color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

.btn {
   margin-left: 120px;
   text-decoration: none;
   background-color: #2F855A;
   color: white;
   padding: 12px 25px;
   border-radius: 18px;
   font-weight: 900;
   width: 10%;
   justify-content: center;
   font-size: medium;
   font-family: sans-serif;
}

.btn:hover {
   background: #256b5e;
}

.main-image img {
   width: 90%;
   height: 70%;
   border-radius: 25px;
   margin: 9px;
}

hr {
   border: 1px solid black
}

/* page 2 membership */

.mainhead {
   width: 1521px;
   text-align: center;
}

.plan {
   display: flex;
   gap: 435px;
   margin-left: 20px;
   font-size: x-large;
   height: 545px;
}

/* page 3 facilities */

.fact {
   height: 595px;
}

.f1 {
   font-size: 35px;
   width: 1520px;
   text-align: center;
}

#f2 {
   text-align: center;
   font-size: 30px;
}

.f3 {
   font-size: 27px;
}

/* page 4 about us */

.upper {
   height: 595px;
}

.ut1 {
   font-size: 35px;
   width: 1520px;
   text-align: center;
}

.ut2 {
   font-size: 30px;
   text-align: center;
   word-spacing: 4px;
}

/* page 5 registeration form  */

.form {
   width: 350px;
   margin: 50px auto;
   padding: 18px;
   background-color: #ffffff;
   border-radius: 8px;
   box-shadow: 0 0 10px;
}

.form h2 {
   text-align: center;
   margin-bottom: 20px;
}

label {
   display: block;
   margin-top: 10px;
   font-weight: bold;
}

input,
textarea {
   width: 100%;
   padding: 8px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.gender {
   margin-top: 5px;
}

.gender input {
   width: auto;
   margin-right: 5px;
}

.sub {
   width: 100%;
   padding: 10px;
   margin-top: 20px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
}

.sub:hover {
   background-color: #45a049;
}